<h1>Register Page</h1>

<form action="/Home/Register" method="post">
    <div>
        <input type="text" name="username" />
    </div>
    <div>
        <input type="text" name="Password" />
    </div>

    
        <div>

            <button type="submit">Register</button>
        </div>
</form>